* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Russo One", sans-serif;
  overflow: hidden;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.intro h1 {
  font-size: 96px;
  color: #813638;
}

.circle {
  height: 1487px;
  width: 1487px;
  border-radius: 50%;
  background: #2a2a2a;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(30%, -50%);
  z-index: -1;
}
form {
  display: flex;
  flex-direction: column;
  z-index: 10;
}
form label {
  color: white;
  font-size: 36px;
}
form input {
  border: 2px solid #813638;
  background: transparent;
  width: 400px;
  height: 30px;
}
form button {
  height: 60px;
  width: 180px;
  margin-top: 40px;
  color: white;
  background: #813638;
  font-size: 16px;
  border: none;
  align-self: center;
  font-family: "Russo One", sans-serif;
}

label,
input {
  margin: 10px;
}

.message {
  height: 160px;
}
