* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d9d9d9;
}

button {
  font-family: "Russo One", sans-serif;
}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

nav {
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 70%;
}
.nav-link {
  color: #636877;
  font-size: 24px;
  text-decoration: none;
}
.cart {
  display: flex;
  height: 24px;
  width: 24px;
  margin-left: auto;
}
.cart img {
  height: 24px;
  width: 24px;
}

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}
.introduction {
  flex: 1;
  font-family: "Russo One", sans-serif;
}
.intro-text h1 {
  font-size: 96px;
  color: #813638;
}
.intro-text p {
  margin: 10px 0px 10px 0px;
  font-size: 64px;
  color: #813638;
}

.cta {
  padding: 50px 0px 0px 0px;
}
.cta-shop {
  background: #813638;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.cta-learn {
  border: 2px solid #636877;
  color: #636877;
  background: transparent;
  width: 150px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  margin: 30px 0px 0px 30px;
}

.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
}

.cover img {
  height: 100%;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #813638;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: #813638;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-link {
    color: #d9d9d9;
  }
  .burger {
    display: block;
    position: absolute;
    right: 10%;
  }
  .presentation {
    flex-direction: column;
  }
  .cta {
    align-self: center;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toogle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toogle .line2 {
  opacity: 0;
}
.toogle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
